<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toolsdemoapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AnimationsActivity"></activity>
        <activity android:name=".activity.AppbarCoordinatorActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.SelectFileActivity" />
        <activity android:name=".activity.GridActivity" />
        <activity android:name=".activity.VideosActivity" />
        <activity android:name=".activity.ImagesActivity" />
        <activity android:name=".activity.NavigationDrawerActivity" />
        <activity android:name=".activity.BottomsheetActivity" />
        <activity android:name=".activity.FragmentsActivity" />
        <activity android:name=".activity.PicassoActivity" />
        <activity android:name=".activity.BottomNavActivity2" />
        <activity
            android:label="@string/title_activity_bottom_nav"
            android:name=".activity.BottomNavActivity" />
        <activity android:name=".activity.DraggableItemsActivity" />
        <activity android:name=".activity.SwipeToActionActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity
            android:label="Send Email From Android"
            android:name=".activity.PlayingWithIntentActivity" />
        <activity android:name=".activity.PermissionsActivity" />
        <activity
            android:label="@string/title_activity_scrolling"
            android:name=".activity.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.FreezeLayoutOnTopActivity" />
        <activity android:name=".activity.TouchEventsActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.UsersListActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ViewsActivity" />
        <activity android:name=".activity.ErrorMessagesActivity" />
        <activity android:name=".activity.DialogBoxesActivity" />
        <activity android:name=".activity.MainActivityNew">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>